.banner {
	font-family: 'Merriweather', serif;
	width: 1420px;
	height: 650px;
	margin: 0 auto;
	text-align: center;
	background-image: url('image/Banner\ Image.png');
	background-size: cover;
	border-radius: 16px;
	color: #fff;
	padding-top: 50px;
	line-height: 5px;
}
.banner h1 {
	font-size: 72px;
	font-weight: 900;
	margin-top: 10px;
}
.banner > h1,
p {
	padding-top: 72px;
}

/* multipule uses  */
.primary-color {
	color: #f00;
}
.btn-primary {
	padding: 12px 35px;
	border-style: none;
	background-color: #f00;
	border-radius: 5px;
	cursor: pointer;
}
/* off section styles  */

.off {
	width: 850px;
	margin: 120px auto;
	text-align: center;
	line-height: 5px;
	font-family: 'Inter', sans-serif;
}
.off h1 {
	font-size: 88px;
	font-weight: 700;
}
.off h2 {
	font-size: 32px;
}
.welcome {
	font-family: 'Inter', sans-serif;
	width: 1420px;
	height: 650px;
	margin: 0 auto;
	background-image: url('image/Vectorrr.png');
	background-size: cover;
	border-radius: 16px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #fff;
}
.welcome h1 {
	font-size: 64px;
	font-weight: 900;
}

.party-info {
	font-family: 'Merriweather', serif;
	width: 1420px;
	height: 350px;
	margin: 100px auto;
	text-align: center;
	font-size: 22px;
	font-weight: 700px;
	background-color: rgba(255, 0, 0, 0.1);
	padding-top: 60px;
}
